@model Daisy.Admin.Models.PagedListAlbumViewModel
@{
    ViewBag.Title = "Search";
}

<div class="spacer">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(x => x.SearchOptions.AlbumName, new { @class = "control-label col-sm-1" })
            <div class="col-sm-3">
                @Html.TextBoxFor(x => x.SearchOptions.AlbumName, new { id = "txtAlbumName", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-3">
                <button id="btnSearch" class="btn btn-default">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid spacer">
    <div class="form-inline">
        <div id="paging" class="form-group"></div>
        <div id="searchResultInfo" class="form-group" style="float:right;margin-top:20px;display:none">
            Total <span id="totalCount"></span> albums. Display
            <select id="cboPageSize" class="form-control dropdown">
                <option>10</option>
                <option selected="selected">50</option>
                <option>100</option>
            </select>
            per page            
        </div>
    </div>
</div>
<div id="gridAlbums" class="container-fluid"></div>
<div id="loader" class="overlay" style="display:none">
    <img class="loader" src="~/Images/loading.gif" />
</div>
@Html.Hidden("FlickrAlbumSearchUrl", Url.Action("AjaxSearch","FlickrAlbum"))

@section scripts
{
    @*<script type="text/javascript" src="~/Scripts/Album/FlickrAlbum.js"></script>*@
    <script src="~/Scripts/Common/common.js"></script>
    <script src="~/Scripts/Album/Album.js"></script>
    <script src="~/Scripts/Album/Index.js"></script>
}